<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" th:href="@{/img/icon.png}" type="image/x-icon" />
    <title>CRUD Distribuidoras</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
</head>
<body>
<div class='container'>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/icon.png}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                GameShop3
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app" aria-controls="navbar-app" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-app">
                <!--<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#/user/signIn">Ingresar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/user/signUp">Registrarse</a>
                    </li>
                </ul>-->
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/distribuidoras/lista}">Distribuidoras</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/juegos/lista}"> Juegos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h1>Lista de Distribuidoras</h1>
            </div>
            <div class="container-fluid">

                <a class="btn btn-primary mt-4 mb-4" th:href="@{/distribuidoras/nuevo}">Nueva Distribuidora</a>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fundación</th>
                        <th>Sede</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <!-- Completar -->
                        <!-- Completar -->
                        <!-- Completar -->
                        <!-- Completar -->
                        <td><a class="btn btn-primary" href="/distribuidoras/editar?id=4">Editar</a></td>
                        <td><a class="btn btn-danger" href="/distribuidoras/borrar?id=4">Borrar</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- /Contenido -->
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Colocar # Grupo - PUCP @ 2022</div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>